body{
    padding: 2em;
    background-color: #dc0a2d;
}
div[id=name] {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}
img{
    background-color: #bafbff!important;
}
label{
    
    font-weight: bold;
}


@media (min-width: 576px) {
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 350px;
    }  
    .progress{
        transform: rotate(270deg);
        width: 50px;
        height: 2rem;
        margin-left: auto;
        margin-right: auto
    }
}
@media (max-width: 576px) {
    .text-vertical{
        transform: rotate(9deg);

    }
    
}
  